<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
      <h1>Pagina Web</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non repellendus
        est facere sit pariatur maiores quidem saepe ad. Eligendi neque, est
        necessitatibus quod asperiores in consectetur recusandae saepe sapiente
        exercitationem?
      </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
      <img src="../../../assets/banner.png" class="img-fluid img-proyecto"/>
    </div>
  </div>
</div>
