.row {
  padding: 15px;
}

div {
  background-color: #a1b5cb;
  text-align: center;
}

/* estilo de la foto de perfil*/

@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width:18%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 180px;
    }
}

@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width:55%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 23%;
        top: 400px;
    }
}

/*etiqueta nombre*/
#nombre {
  font-weight: bold;
  margin-top: 18%;
  font-size: 25px;
}
